.vue-call-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.vue-call-input {
    position: relative;
    z-index: 2;
    float: left;
    width: 98%;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
    background-color: #fafafa;
    opacity: 1;
    padding: 7px 5px;
    font-size: 13px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-image: none;
    border: 1px solid #ddd;
    color: gray;
    text-align: center;
}

.vue-call-input-group-addon {
    border-radius: 0;
    padding: 7px 6px;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    color: #333;
    text-align: center;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.vue-call-wrap {
    display: block;
    position: absolute;
    z-index: 100;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    border: 1px solid #e9e9e9;
    font-weight: normal;
}

.vue-call-box, .vue-call-week {
    display: flex;
}

.vue-call-day-name, .vue-call-day, .vue-call-day-hide {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    width: 30px;
    height: 30px;
}

/*.month {*/
/*max-width: 560px;*/
/*margin: 20px auto;*/
/*}*/

/*.week {*/

/*}*/

.vue-call-day-name {
    color: white;
    padding: 5px;
    background-color: #2196f3;
    border: 1px solid #2196f3;
    cursor: pointer;
}

.vue-call-day {
    color: black;
    background-color: white;
    border: 1px solid #e8e9e9;
    padding: 5px;
    cursor: pointer;
    /*margin: 1px 0 0 1px;*/
}

.vue-call-day-hide {
    color: black;
    background-color: #e6e5e5;
    border: 1px solid #e8e9e9;
    padding: 5px;
    cursor: default;
}

.vue-call-day:hover {
    color: white;
    background-color: #2196f3;
    border: 1px solid #2196f3;
}

.vue-call-day-select {
    color: white;
    background-color: #2196f3;
    border: 1px solid #2196f3;
}
.vue-call-day-preview {
    background-color: #38a7ff;
    color: white;
}


.vue-call-year {
    display: flex;
}
.vue-call-year-previous, .vue-call-year-next, .vue-call-year-text {
    flex-shrink: 1;
    flex-basis: 0;

    width: 30px;
    padding: 5px;

    text-align: center;
    color: #2196f3;
    /*font-weight: bold;*/
    cursor: pointer;
}

.vue-call-year-previous, .vue-call-year-next {
    flex-grow: 1;

    color: black;
    background-color: white;
    border-color: #2196f3;

    cursor: pointer;
    font-size: 10px;
}
.vue-call-year-text {
    flex-grow: 5;
    border: 1px solid #2196f3;
}


.vue-call-years-list {
    height: 200px;
    overflow-x: scroll;
    border: 1px solid #e8e9e9;
    width: 250px;
}
.vue-call-years-list-item {
    background-color: white;
    border: 1px solid #2196f3;

    padding: 5px;
    width: 100%;
    height: 20px;

    cursor: pointer;
    text-align: center;
    color: #2196f3;
    /*font-weight: bold;*/
}

.vue-call-years-list-item:hover {
    background-color: #2196f3;
    color: white;
}

.vue-call-years-list-item-selected {
    background-color: #549df3;
    color: white;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-enter
    /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}


.vue-call-helper {
    width: 200px;
}
.vue-call-helper-item {
    width: 100%;
    background-color: white;
    border: 1px solid #2196f3;
    color: black;

    padding: 5px;
    width: 100%;
    height: 30px;

    cursor: pointer;
}

.vue-call-helper-item:hover {
    background-color: #549df3;
    color: white;
}

.vue-call-show-year {
    padding-left: 8px;
    /*font-weight: bold*/
}
